{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1>IT-4320 Trip Reservation System</h1>
    <hr>
    <p>Welcome to the IT-4320 reservation system. Select whether to make a reservation or log in as administrator.</p>
    <div>
        <a href="{{ url_for('admin_login') }}" class="btn btn-primary btn-lg mx-2">Admin Login</a>
        <a href="{{ url_for('seat_reservation') }}" class="btn btn-primary btn-lg mx-2">Reserve a Seat</a>
    </div>
</div>
{% endblock %}
